#photoboxAll .eq{
    display: none !important;
}
.eq{
    color: white;
    font-size: 0.8em;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
#black_background{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 790;
	background-color: black;
}
a img{
    border: none;
}
.clearBoth{
	clear: both;
}
#chat{
    position: fixed;
    bottom: -500px;
    right: 5px;
    width: 275px;
    height: 500px;
    z-index: 500;
    border: 1px solid #be1212;
    background-color: #cd1d1d;
    box-shadow: 0px 0px 5px black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    -webkit-transition: bottom 1s;
    -moz-transition: bottom 1s;
    -ms-transition: bottom 1s;
    -o-transition: bottom 1s;
    transition: bottom 1s;
}
#chatText{
    margin: 0px 8px;
    font-size: 14px;
    text-align: justify;
    width: 258px;
    height: 100%;
    background-color: white;
}
#chatOPEN_CLOSE{
    width: 100%;
    height: 45px;
    background-image: url(../images/footer/chat.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
#chat_trenink{
    width: 100%;
    background-color: #cd1d1d;
    height: 0px;
    background-image: url(../images/footer/trenink.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    padding: 15px 45px 30px 45px;
    -webkit-transition: bottom 1s;
    -moz-transition: bottom 1s ;
    -ms-transition: bottom 1s ;
    -o-transition: bottom 1s ;
    transition: bottom 1s ;
    cursor: pointer;
}
#chat_zavody{
    width: 100%;
    background-color: #cd1d1d;
    height: 0px;
    background-image: url(../images/footer/trenink.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    padding: 15px 45px 30px 45px;
    -webkit-transition: bottom 1s;
    -moz-transition: bottom 1s ;
    -ms-transition: bottom 1s ;
    -o-transition: bottom 1s ;
    transition: bottom 1s ;
    cursor: pointer;
}
#chat_ostatni{
    width: 100%;
    height: 0px;
    background-color: #cd1d1d;
    background-image: url(../images/footer/trenink.png);
    background-repeat: no-repeat;
    padding: 15px 45px 30px 45px;
    position: absolute;
    bottom: 0px;
    -webkit-transition: bottom 1s;
    -moz-transition: bottom 1s;
    -ms-transition: bottom 1s;
    -o-transition: bottom 1s;
    transition: bottom 1s;
    cursor: pointer;
}
#chatentries{
    position: absolute;
    width: 250px;
    height: 276px;
    bottom: 90px;
    overflow: auto;
    color: black;
    margin: 0px 5px;
}
#chatentries .souhrn{
    display:none !important;
}
#chatentries .eq{
    position:fixed !important;
    bottom: -200px;
    right: -500px;
}
.input_chat{
    display: block;
    position:relative;
    top: 14px;
    left: -45px;
    width: 258px;
    height: 35px;
    padding: 3px;
    outline: none;
    border: 1px solid #cd1d1d;
}
.entry-h1{
    text-decoration: underline;
}
.areal_nadpis{
    background-color: #cd1d1d;
    margin: 0px;
    padding: 10px 13px;
    color: white;
    position:relative;
    top:1px;
}
.plan_trati{
    padding: 110px 0px;
    height: 527px;
    margin: 0px 10px 0px 70px;
    font-weight: bold;
}
.plan_trati td{
    padding: 5px 10px;
}
#form_img{
    margin: 15px 0px;
}
#foto_z_trati{
    margin-top: 50px;
    float:left;
    width: 600px;
}
#foto_z_trati h2{
    background-color: #cd1d1d;
    margin: 0px;
    padding: 10px 13px;
    color: white;
}
#foto_z_trati img{
    display: inline-block;
    text-align: center;
    width:185px;
    margin: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
}
#foto_ze_strelnice{
    margin-top: 50px;
    float:right;
    width: 600px;
}
#foto_ze_strelnice h2{
    background-color: #cd1d1d;
    margin: 0px;
    padding: 10px 13px;
    color: white;
}
#foto_ze_strelnice img{
    display: inline-block;
    text-align: center;
    width:185px;
    margin: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
}
body {
    width: 1275px;
    margin: 0 auto;
}
textarea{
    height: 650px;
}
#contentHomeAll{
    position:relative;
    top: -490px;
}
#plan_trati{
    float: right;
    width: 1000px;
    margin:35px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.clen_div{
    width: 400px;
    display: inline-block;
    margin: 0px 25px 10px 0px;
    vertical-align: top;
}
.clen_div h2{
    background-color: #cd1d1d;
    margin: 0px;
    padding: 10px 13px;
    color: white;
}
.clen_div img{
    width: 200px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: right;
    margin: 10px 5px 5px 10px;
}
.clen_div div{
    display: inline-block;
    margin: 10px 0px;
}
.home_uprava{
    float:right;
}
.clen_text{
    display: block;
    font-size: 0.95em;
}
.clen_uprava{
    float:right;
    position:relative;
    color: white !important;
}
.clen_uprava img{
    width: 26px;
    margin:0px;
    margin-top: 4px;
    margin-right: 8px;
}
.clen_uprava a{
    color:white;
    text-decoration: none;
}
.clen_uprava a:hover{
    text-decoration: underline;
}
.uprava_tlacitko{
    width: 26px;
    height: 13px;
}
.input_clenove{
    width: 260px;
    height: 20px;
    outline-color: #cd1d1d;
}
.input_textarea{
    width: 260px;
    height: 250px;
    outline-color: #cd1d1d;
}
.submit_clenove{
    color: white;
    background-color: #cd1d1d;
    border:none;
    outline: none;
    width: 90px;
    height: 20px;
    float: right;
    border-radius: 5px;

}
iframe{
    border:none;
}
.submit_entry{
    color: white;
    background-color: #cd1d1d;
    border:none;
    outline: none;
    width: 90px;
    height: 20px;
    flaot:left;
    border-radius: 5px;
    margin: 10px 40px;

}
.submit_entry:hover {
    background-color: #be1212;
}
#nadpis_entry{
    margin: 0px;
    color: white;
    padding: 4px 10px 4px 10px;
    background-color:#cd1d1d;
    font-weight: bold;
    font-size: 28px;
    margin-top: 25px;
}
#nadpis_entry input{
    border:none;
    outline: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-weight: bold;
    font-size: 28px;
    color: white;
    width: 800px;
}
.submit_clenove:hover {
    background-color: #be1212;
}
#facebook{
    width: 450px;
    float: left;
}
#facebook h2{
    background-color: #cd1d1d;
    margin: 0px;
    padding: 10px 13px;
    position: relative;
    top: 1px;
    color: white;
    margin-left: 1px;
}
#sponzori{
    margin-top: 50px;
    width: 450px;
    float: left;
    clear: left;
}
#sponzori h2{
    background-color: #cd1d1d;
    margin: 0px;
    padding: 10px 13px;
    position: relative;
    top: 1px;
    color: white;
    margin-left: 1px;
}
#male_logo{
    float:right;
    height: 88%;
    margin-top: 2px;
    margin-right: 25px;
}
#footer{
    background-color: #cd1d1d;
    position:relative;
    top: 45px;
    padding: 19px 0px;
    clear: both;
    text-align:center;
}
#footer img{
    margin: 0px 15px;
}
#menu_nadpis{
    display: none;
}
#footer img:hover{
    background-color: #be1212;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#loading{
    position: relative;
    top: 50px;
    left: 150px;
}
.home_entry_div{
    position: relative;
    top: -10px;
    padding: 0px 0px 5px 0px;
    margin-bottom: 80px;
    background-color: #fae8e8;
}
.entry{
    margin: 10px 20px;
}
.home_entry_div h1{
    margin: 0px;
    color: white;
    padding: 5px 13px 5px 13px;
    background-color:#cd1d1d;
}
.home_entry_div_text{
    margin: 0px 15px;
}
.home_entry_pokracovani {
    display: block;
    margin: 10px 0px 10px 40px;
    color: white;
    border:none;
    outline: none;
    padding: 7px 14px 2px 14px;
    text-decoration: none;
    font-weight: bold;
}
.home_entry_div_text h1{
    font-height: 90%;
    color: black;
    background-color: transparent;
}
.home_entry_div_text {
	font-size: 0.98em;
	line-height: 1.25;
	text-align: justify;
	font-weight: normal;
}
#header_all{
    padding: 5px 20px;
    font-size: 21px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: right;
}
#headerbox{
    height: 534px;
    width: 474px;
    float:right;
    position: relative;
    top:-535px;
    background-color: black;
    color:white;
    text-align:right;
    z-index: 10;
    border-bottom: 1px solid black;
}
.photobox-photo-a{
    color: white;
    text-decoration: none;
}
#headerbox h1{
    text-align:center;
    font-size: 21px;
}
#headerbox h2{
    font-size: 19px;
    text-align: center;
}
#header_home{
    height: 534px;
    width: 801px;
    -webkit-background-size: 801px auto;
    background-size: 825px auto;
    background-color: black;
    background-image: url(../images/header/1000/_H108065.jpg);
    border-bottom: 1px solid black;
}
#header_home:hover div{
    filter: alpha(opacity=100);
    opacity: 1;
}
#header_home div{
    margin: 0px;
    padding: 5px 20px;
    color:white;
    text-shadow: 0px 0px 7px black;
    text-align:center;
    background-color: black;
    filter: alpha(opacity=50);
    opacity: 0.5;
    text-decoration: none;
    text-align:left;
    -webkit-transition: filter 1s, opacity 1s;
    -moz-transition:  filter 1s, opacity 1s;
    -ms-transition:  filter 1s, opacity 1s;
    -o-transition:  filter 1s, opacity 1s;
    transition:  filter 1s, opacity 1s;
}
#header_home h1{
    text-align:center;
}
#header_home a{
    text-decoration: none;
}
#header_home article{
    font-size: 10px;
    text-align:left;
}
#home_content{
    clear: right;
    width: 800px;
    float:right;
}
#content h1{
    margin: 10px 0px 25px 0px;
}
#content a{
    color:#cd1d1d;
    text-decoration: none;
}
#content a:hover{
    text-decoration: underline;
}
.iframe{
    float: right;
}
#nav{
    height:44px;
    background-color: #cd1d1d;
    border-bottom: solid black 1px;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}
#nav a{
    color:white;
    width: 70px;
    font-weight:bold;
    font-size: 16px;
    display:inline-block;
    padding:13px 42px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
}
#nav a:active{
    background-color: #ed0d0d;
}
#nav a:hover{
    background-color: #be1212;
}
#nav a:hover .subpage{
    display:block;
}
#kontakt_frantisek{
    float:left;
    height: 10em;
    margin: 10px 25px 15px 0px;
    border-radius: 5px;
}
.obtekani{
    float:left;
}
#photoboxAll{
    overflow: auto;
    float:right;
    width:440px;
    height:400px;
    position:relative;
    z-index: 100;
    right: 5px;
}
#url_photobox{
    margin: 10px 0px;
}
#url_photobox input{
    width: 500px;
    outline-color: #cd1d1d;
}
#photoboxAll img{
    height: 70px;
    margin: 3px;
}
#photoboxAll::-webkit-scrollbar {
    width: 0.3em;
}

#photoboxAll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#photoboxAll::-webkit-scrollbar-thumb {
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.photobox-photo{
    background-color: #101010;
    margin-bottom: 3px;
    cursor: pointer;
    text-align:left;
    font-weight: bold;
    font-size: 18px;
    vertical-align: top;
    padding: 5px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
.photobox-photo:hover{
    background-color: #262626;
}
.photobox-photo .clen_uprava{
    font-size: 0.7em;
    height: 28px;
}
.fotogalerie_blok{
    width: 400px;
    display: inline-block;
    margin: 0px 25px 10px 0px;
    vertical-align: top;
}
.fotogalerie_blok h2 {
    background-color: #cd1d1d;
    margin: 0px;
    padding: 10px 13px;
    color: white;
}
.sponzor{
    display:inline-block;
    margin: 10px;
}
.sponzor img{
    max-height: 100px;
    max-width: 100%;
}
#menu_vybaveni{
    float: left;
    width: 250px;
}
#menu_vybaveni li{
    display: block;
    padding: 0px;
    margin: 15px 0px;
    background-color: #fae8e8;
    padding: 5px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #cd1d1d;
    border-left: 1px solid #cd1d1d;
}
#menu_vybaveni li ul li{
    cursor: pointer;
    margin: 3px 0px;
    position:relative;
    left: 0px;
    color: #cd1d1d;
    -webkit-transition: left 0.5s, color 0.3s;
    -moz-transition: left 0.5s, color 0.3s;
    -ms-transition: left 0.5s, color 0.3s;
    -o-transition: left 0.5s, color 0.3s;
    transition: left 0.5s, color 0.3s;
    background-color: transparent;
    border: none;
}
#menu_vybaveni li ul li:hover{
    left: 10px;
    color: #a41717;
}
#content_vybaveni{
    width: 970px;
    display: block;
    float: right;
    text-align: justify;
    margin-top: 15px;
}
#mapa_kontakt{
    box-shadow: 0px 0px 5px black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#mapa_kontakt *{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#kontakt_table{
    border-collapse: collapse;
}
#kontakt_table td{
    padding-bottom: 6px;
}
.kontakt_tabulka_levo{
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}
#kontakt_psc{
    padding-left: 25px;
}
#areal_popis{
    margin: 0px 25px;
}
.fb-like{
    margin: 5px 15px;
}
#kalendar_table{
    float: right;
    border-collapse: collapse;
}
#kalendar_table td{
    border: 1px solid black;
}
#kalendar_table th{
    font-size: 1.15em;
    padding: 10px 0px;
}
.kalendar_activeDay_td{
    width: 120px !important;
    height: 100px;
    vertical-align: top;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    padding: 0px;
    margin: 0px;
}
.kalendar_activeDay_td:hover{
    background-color: rgba(205,29,29,0.2);
}
.kalendar_nedele{
    color: #cd1d1d;
}
.kalendar_den_number{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px 10px;
    display: inline-block;
    background-color: white;
}
.kalendar_zavody{
    background-color: green;
    width: 100%;
    font-size: 11px;
    padding: 2px 0px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: white !important;
}
.kalendar_trenink{
    background-color: red;
    width: 100%;
    font-size: 11px;
    padding: 2px 0px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: white !important;
}
.kalendar_brigada{
    background-color: blue;
    width: 100%;
    font-size: 11px;
    padding: 2px 0px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: white !important;
}
.kalendar_jine{
    background-color: silver;
    width: 100%;
    font-size: 11px;
    padding: 2px 0px;
    text-align: center;
    display: block;
    cursor: pointer;
}
#kalendar_popis{
	position: fixed;
	width: 70%;
	height: 50%;
	display: inline-block;
	margin: 0px auto;
	background-color: white;
	padding: 60px;
	display: none;
	z-index: 800;
}
.admin_calendar_table td{
    vertical-align: top;
}
.admin_calendar_table #kalendar_popis textarea{
    width: 260px;
    height: 250px;
    outline-color: #cd1d1d;
    border:1px dotted black;
}
.admin_calendar_table input{
    width: 260px;
    padding: 5px 0px;
    outline-color: #cd1d1d;
    border:1px dotted black;
}
#nextEvents{
    width: 30%;
    float: left;
    margin: 30px 0px 0px 0px;
    border-collapse: collapse;
}
#nextEvents tr:hover{
    background-color: rgba(205,29,29,0.2);
    cursor: pointer;
}
.nextEvents_headline:hover{
    backgrounclearBothd-color: transparent !important;
    cursor: auto !important;
}
#nextEvents td{
    padding: 5px 0px;
}
#nextEvents h3{
    margin: 0px;
}
#nextEvents .kalendar_nadpis{
    width: 170px;
    text-align: left;
}
#kalendar_popis .eq{
    display: none !important;
}
.today{
    background-color: rgba(29, 117, 205,0.3);
}
.today:hover{
    background-color: rgba(29, 117, 205,0.6) !important;
}
.zajimavosti{
	margin: 35px 0px 0px 0px;
}
.zajimavosti p{
	margin: 8px 0px 8px 15px;
	text-indent: 25px;
}
.zajimavosti div{
	padding: 5px 10px;
	border-left: 2px solid #cd1d1d;
	margin-left: 20px;
	margin-bottom: 45px;
}
.zajimavosti h3{
	font-size: 1.25em;
	margin-bottom: 10px;
}
#zavrit{
	position: absolute;
	color: black;
	top: 0px;
	right: 0px;
	margin: 15px;
	cursor: pointer;
}
